@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vehicles Tracker</h1>
    <p class="lead">Welcome to Vehicle trackers app. Select one of the menu otions from top navigation bar.</p>
    <p><a href="./Automobile" class="btn btn-primary btn-lg">View Automobiles &raquo;</a></p>
</div>
